body {
	width: 700px;
	font-size: 14px;
	padding-left: 20px;
	padding-bottom: 20px;
}
label {
	font-weight: bold;
	font-size: 20px;
}
textarea {
	height: 150px;
	width: 300px;
}
input[type=text] {
	width: 300px;
	height: 25px;
}
ol {
	padding-left: 20px;
}

[disabled=disabled] {
	opacity: 0.5;
}
.smallText {
	font-size: 12px;
	text-decoration: underline;
}

.subtext {
	margin-left: 10px;
	font-size: 8pt;
	vertical-align: text-top;
};

.left {
	float: left;
	margin-right: 10px;
}
.section {
	padding-left: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

.task .video {
	display: inline-block;
	vertical-align: top;
	width: 59%;
}

.task .info {
	display: inline-block;
	vertical-align: top;
	width: 39%;
}

.toolButton {
	width: 100%;
	height: 50px;
}

#beforeButton {
	width: 49%;
	height: 50px;
	margin-right: 2px;
}

#afterButton {
	width: 49%;
	height: 50px;
	margin-left: 2px;	
}
.removeHelper {
	position: absolute;
	font-size: 12px;
}
#title {
	border-bottom: 1px solid #EEE;
}

#timeline {
	margin-top: 10px;
}
.screenshot {
	width: 45%;
	float: right;
	margin-left: 5px;
}
.regions {
	width: 48%;
	float: right;
	margin-left: 5px;
}
.cleaner {
  clear: both;
  font-size: 1px;
}
.submitHIT {
	/* Make Bigger */
}

#submitForm input[type=text] {
	display: none;
}

#timelineHolder {
	position: relative;
}

.marker {
	position: absolute;
	top: -1;
	height: 100%;
	width: 4px;
	z-index: 2;
	border: 1px solid black;
}

.marker:hover {
	background: white;
	cursor: pointer;
}

#timelineHolder .ui-slider-handle {
	z-index: -1;
	opacity: 0;
}

#submitIndices {
	display: none;
}