	body { 
        /*background-color: #fff; 
        padding: 0 20px; 
        color:#000; 
        font: 13px/18px Arial, sans-serif; */
        padding-top: 60px;
        padding-bottom: 40px;
    }
	a { color: #360; }

    #controller { margin: 10px; }
    ul { list-style-type:none; padding-left: 0px; margin: 0; }
    input { height: 25px; }

.alert{
    display: none;
}

img.intro-img {
    max-width: 350px;
    max-height: 250px;
}

img.intro-task-img {
    max-width: 600px;
    max-height: 400px;
}

/* Likert questions */

textarea.comments {
    width:auto !important;
}

.ss-formwidget-container {
    position: relative;
    padding: 1em;
}

.ss-q-title {
    display: block;
    font-weight: bold;
    text-align: center;
}

.ss-q-help {
    color: #666666;
    display: block;
    margin: 0.1em 0 0.25em;
}

.ss-q-table {
    border-collapse: collapse;
    border-width: 0;
    empty-cells: show;
}

.ss-scalenumbers {
    text-align: center;
}

.ss-scalerow {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D3D8D3 -moz-use-text-color;
    border-style: solid none;
    border-width: 1px 0;
    color: #666666;
    padding: 0.5em;
    text-align: center;
}

td.ss-leftlabel {
    padding-left: 0;
    text-align: right;
}

td.ss-rightlabel {
    padding-right: 0;
    text-align: left
}

/* list.php */

    .tool-display { font-size: 0.8em;}

    .tool-filter { font-size: 0.8em; }
    .toolname-emphasize { font-weight: bold; font-size: 1.5em;}

    #filters h3 { margin: 0; padding: 0; }
    #results { /*margin:5px 0 15px 16px; padding:0; */ margin-top: 20px; list-style-type:none; }
    #results .row { padding-left: 20px; padding-bottom: 20px;}
    /*.video-item { margin-left: -20px; padding-left: 20px; }*/
    /* .video-item { display:block; height: 120px;} */
    /*.video-item:after { clear:both; }*/
    /*.video-view { /*float:left; margin-right:15px; max-width: 200px; height: 150px; }*/
    /*.video-view a img { float:left; margin-right:15px; max-width: 200px; max-height: 150px;}*/
    /*.video-info p { margin-left: 10px; }*/
    .video-info-youtube h3, .video-info-google h3 { margin:0; }
    .video-meta { color: #777777;}
    .video-info-meta { padding-right: 15px; padding-top: 15px;}
    .list-striped > li:nth-child(odd) { background-color: #eeeeee; }
    .list-hover > li:hover { background-color: #DFE2FF; }

    .applied-filter { background-color: #eeeeee; border: 1px solid #dddddd; padding: 3px; cursor: pointer; }
    .applied-filter i { margin-left: 20px;}


/* label.php */ 
    #form1 { margin: 0; }   
    #form1 li { clear: both; }
    #capture-form { background-color: #ddd; padding: 5px;}
    #capture-list { margin: 0px; }
    #capture-button {font-size:16px; height:30px; width:100px;}

    .capture-header { height: 30px; clear: both; font-weight: bold; background: #ddd; }
    .capture-item { height: 130px; clear: both;} 
    .capture-image, .capture-time, .capture-tool, .capture-comment, .capture-option { float: left; padding: 10px; }
    .capture-image { width: 200px; }
    .capture-time { width: 50px; }
    .capture-tool { width: 250px; }
    .capture-tool label { display: inline; margin-right: 10px; }
    .capture-tool div { margin-top: 10px; }
    .capture-comment { width: 250px; }
    .capture-option { width: 50px; }

    .capture-image a img { max-width: 180px; max-height: 120px; }
    .list-image a img { max-width: 180px; max-height: 120px; }
    .tool-field, .comment-field { width: 190px; }

    #tool-icon { width: 30px; padding-left: 5px; padding-right: 5px; float: left; }
    #labels { margin-top: 20px;}
    #tm { width: 25px;}
    .autocomplete-item { background-color: #fff; height: 25px; width: 200px;}
    .autocomplete-item img{ width: 25px;}
    #select-image, #select-tool, #select-menu, #select-other { height: 10px; }


    .label-header { height: 30px; clear: both; font-weight: bold; background:#ddd; }
    .label-item { height: 130px; clear: both;}
    .list-image, .list-time, .list-tool, .list-comment, .list-option { float: left; padding: 10px; }
    .list-image { width: 200px; }
    .list-time { width: 50px; }
    .list-tool { width: 250px; }
    .list-comment { width: 250px; }
    .list-option { width: 50px; }

    #tabs {width: 900px;}
    .browse-initial, .browse-final { float:left; margin: 10px;}
    .browse-initial a img, .browse-final a img { max-width: 300px; max-height: 300px; }
    .browse-wip { float: left; margin: 10px; height: 230px; }
    .browse-wip a img { max-width: 200px; max-height: 200px; }
    .browse-steps-image, .browse-steps-tool { float: left; margin: 10px; height: 230px; }
    .browse-steps-tool { width: 200px;}
    .browse-steps-image a img { max-width: 200px; max-height: 200px; }    


/* browse.php */
    #html_tutorial div {
        font-size: 24px;
    }

    .select-simple-view{

    }

    .select-all-view{

    }

    .simple-view{
        display:none;
    }
    
    .all-view{

    }

    /* for better styling of popover tools */
    .popover-click-tool {
        font-size: 0.7em;
    }    

    .toolname-block{
        font-weight: bold; 
        font-size: 1.6em;
        display:block;
    }

/* Timeline */
    #timeline {
        padding-top: 100px;
        padding-bottom: 240px;
        clear: both;
        position: relative;
    }
/*
    #playhead {
        background-color: #4C646B; 
        height: 15px;
        width: 0px;
        display: block;
        position: absolute;
    }
*/
    #control-left {
        /*width: 70px;
        float: left;*/
        left: 0;
        position: absolute;
    }

    #control-center {
        margin: 0 70px;
        position: relative;
    }

    #timeline-bottom {       
        height: 15px;
        width: 100%; /*800px;*/
        float: left;
    }

    .idle-marker{
        background-color: #333333;
        float:left;
        height: 15px;
        display: block;
        position: absolute;    
        z-index: 1;
        opacity: 0.8;
    }

    .idle-marker-right{
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-right-radius: 5px;
    }

    .idle-marker-left{
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px;
    }

    .ui-slider-handle {
        background-color: #999999;
    }

    .ui-slider-range-min {
        background-color: #333333;
    }

    #control-right {
        /*width:30px;
        float: right;*/
        right: 0;
        position: absolute;       
    }

    .marker {
        height: 15px;
        width: 5px;
        display: block;
        position: absolute;
        cursor: pointer;
        z-index: 10;
    }

    .marker-image {
        background-color: #828594; /*#EA2E49;*/
    }

    .marker-tool {
        background-color: #233138;
    }

    .marker-stick {
        position: absolute;
        width: 5px;
        height: 50px;
        background-color: #222;
        opacity: 0.2;
    }

    .marker-stick-image {

    }

    .marker-stick-tool {
        /*top: -50px;        */
    }

    .marker-stick-image-top {
        margin-top: 15px !important;
        height: 20px;
    }
    .marker-stick-image-bottom {
        margin-top: 15px !important;
        height: 115px;
    }
    .marker-stick-tool-top {
        margin-top: -40px !important;
        height: 40px;
    }
    .marker-stick-tool-bottom {
        margin-top: -20px !important;
        height: 20px;
    }

    .time-display {
        font-weight: bold;
    }

    .timeline-popover {
        /*width: 100px;*/
        max-width: 100px;
        max-height: 100px;
    }

    .thumbnail { 
        max-width: 200px; 
    }

/* popover override */
    .vt-popover {
        width: auto !important;

        background-clip: padding-box;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0px;
        position: absolute;
        top: 0;
        /*width: 236px;*/
        z-index: 1010;

    }

    .vt-popover-inner {
        width: auto !important;
        /*width: 100px;*/
        height: auto !important;
    }

    .vt-popover-title {
        display:none;

/* VT override defaults
        font-size: 12px;
        border: none;
        padding: 3px;
*/        
/* Bootstrap defaults
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        margin: 0;
        padding: 8px 14px;
*/
    }

    .vt-popover-content {
        padding: 5px;
    }

    .vt-popover.bottom .arrow:after {
        border-bottom-color: rgba(0, 0, 0, 0.25);
        border-width: 0 11px 11px;
        left: -11px;
        top: -1px;
    }

    .vt-popover.top .arrow:after {
        border-top-color: rgba(0, 0, 0, 0.25);
        border-width: 11px 11px 0;
        bottom: -1px;
        left: -11px;
    }

    .vt-popover .arrow:after {
        content: "";
        z-index: -1;
    }

    .vt-popover .arrow, .vt-popover .arrow:after {
        border-color: transparent;
        border-style: solid;
        display: inline-block;
        height: 0;
        position: absolute;
        width: 0;
    }

    .vt-popover.bottom .arrow {
        border-bottom-color: #FFFFFF;
        border-width: 0 10px 10px;
        left: 50%;
        margin-left: -10px;
        top: -10px;
    }

    .vt-popover.top .arrow {
        border-top-color: #FFFFFF;
        border-width: 10px 10px 0;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
    }

    .vt-popover-content p { 
        margin-bottom: 0; 
    }

    .popover-image-top {
        margin-top: 30px !important; /* 10 */
    }
    .popover-image-bottom {
        margin-top: 130px !important; /* 110 */
    }
    .popover-tool-top {
        margin-top: -100px !important; /* -40 */
    }
    .popover-tool-bottom {
        margin-top: -55px !important; /* -10 */
    }
    .popover-highlight {
        background-color: #FFCC33;
    }

/* carousel */
    .jcarousel-control {
        margin-bottom: 10px;
    }

    .jcarousel-control a {
        /*font-size: 75%;*/
        text-decoration: none;
        padding: 0 5px;
        margin: 0 0 5px 0;
        border: 1px solid #fff;
        color: #eee;
        /*background-color: #4088b8;*/
        font-weight: bold;
    }

    .jcarousel-skin-tango .jcarousel-container {
        background-color: #ffffff !important;
    }
    
    .jcarousel-skin-tango .jcarousel-container-horizontal {
        padding: 20px 40px;
        width: 85% !important;
    }
    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        width: 100% !important;
    }